.btn.btn-light.mt-3 {
    background-color: #3F648B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn.btn-light.mt-3:hover {
    background-color: #2d4a63;
}