body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6b44c;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26513e;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 4px solid #26513e;
    margin-bottom: 50px;
    padding: 13px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #26513e;
}

.fa {
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}

.button {
    width: 100%;
    padding: 8px;
    color: #ffffff;
    background: none #26513e;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

#about {
    width: 100%;
    height: 50px;
    resize: none;
    padding: 10px;
    line-height: 1.4;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #369a6a;
}

hr {
    background-color: #26513e;
    height: 1px;
    border: none;
}