@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  /* padding: 0px; */
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #d5ae3d;
  font-family: "Poppins", sans-serif;
}
#maincontent {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto 1fr;
  padding-bottom: 1em;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1em;
  height: 90vh;
  background-color: #d5ae3d;
}
.text {
  color: white;
  font-size: 30px;
  text-align: center;
}
/*nav*/
/* #nav{
    background-color: #6B7A5E;
    height: 100px;
    grid-column: 1/3;
    grid-row: 1/1;

    display: grid;
    padding: 10px;
    gap: 4em;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: 1fr;
} */
/* #logo{
    height: 80px;
    width: 80px;
    grid-column: 1/1;
    grid-row: 1/1;
} */
/*.NavBTNS {
  text-decoration: none;
  color: white;
  font-size: 40px;
  align-self: center;
  transition: ease-in-out 0.25s;
}
.NavBTNS:hover {
  color: black;
  transition: ease-in-out 0.25s;
}
#user {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  justify-self: end;
  margin-right: 30px;
}*/
/*nav end*/
/*1*/
.divs {
  background-color: #bd9623;
  border-radius: 16px;
  min-width: 400px;
}

#work {
  grid-column: 1/1;
  grid-row: 2/2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 1em;
  gap: 1em;
}

#name {
  grid-column: 1/1;
  grid-row: 1/1;

  height: 80px;
  align-content: center;
  padding-left: 15px;
}
#nametext {
  font-size: 45px;
  font-weight: 300px;
  text-align: center;
}

.imgs {
  justify-self: center;
  align-self: center;
  border-radius: 16px;
}
#mainImg {
  height: 650px;
  width: 650px;

  grid-row: 2/3;
  grid-column: 1/1;
}
#description {
  grid-column: 1/1;
  grid-row: 3/3;

  min-height: 100px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*1end*/
/*2*/
#donation-wrapper {
  background-color: #ffcc37;
  border-radius: 16px;
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 15px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr;
  gap: 1em;
  padding: 10px;
}
.donationDivs {
  background-color: #bd9623;
  border-radius: 16px;
  align-content: center;
  padding-left: 10px;
}
.donationBTNS {
  background-color: #bd9623;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 1px black inset;
  align-content: center;
  justify-items: center;
  min-width: 100px;
  transition: ease-in-out 0.25s;
}
.donationBTNS:hover {
  transition: ease-in-out 0.25s;
  background-color: #7ca8d7;
  box-shadow: none;
}
#donationTitle {
  grid-column: 1/5;
  grid-row: 1/1;
  align-content: center;
  justify-items: center;
}
#donationTitletext {
  color: white;
  font-size: 48px;
}
#small {
  grid-column: 1/4;
  grid-row: 2/2;
}
#smallBTN {
  grid-column: 4/5;
  grid-row: 2/2;
}
#mediumBTN {
  grid-column: 1/2;
  grid-row: 3/3;
}
#medium {
  grid-column: 2/5;
  grid-row: 3/3;
}
#big {
  grid-column: 1/4;
  grid-row: 4/4;
}
#bigBTN {
  grid-column: 4/5;
  grid-row: 4/4;
}
#customBTN {
  grid-column: 1/2;
  grid-row: 5/5;
}
#custom {
  grid-column: 2/5;
  grid-row: 5/5;
}
#goalWrapper {
  grid-column: 1/5;
  grid-row: 6/6;

  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1em;
  padding: 1em;
}
#goalTitleBox {
  background-color: #ffcc37;
  border-radius: 16px;
  height: 35px;
  grid-column: 1/2;
  align-content: center;
  padding-left: 10px;
}
#goalbox {
  background-color: #ffcc37;
  border-radius: 16px;
  grid-column: 1/3;
  grid-row: 2/2;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 10px;
  gap: 2px;
}
.goaltext {
  color: black;
  font-size: 24px;
}
#end {
  justify-self: end;
}
#goalBar {
  background-color: #bd9623;
  grid-row: 2/2;
  grid-column: 1/3;
  border-radius: 50px;
  max-height: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
#goal {
  background-color: #ffeaaf;
  border-radius: 50px;
}
/*2end*/

/*popups*/
.popupdivs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcc37;
  height: 70vh;
  min-height: 400px;
  width: 80vw;
  min-width: 400px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 1px black inset;

  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
#closePopup {
  align-self: center;
  justify-self: center;
  width: 75%;
  height: 75px;
  border-radius: 16px;
  border: none;
  background-color: #bd9623;
  box-shadow: 0px 0px 10px 1px black inset;
  color: white;
  font-size: 28px;

  grid-row: 5/5;
  grid-column: 2/3;
  transition: ease-in-out 0.25s;
}
#closePopup:hover {
  background-color: #7ca8d7;
  transition: ease-in-out 0.25s;
  box-shadow: none;
}
#popupTitle {
  grid-column: 1/4;
  grid-row: 1/1;
  align-content: center;
  justify-items: center;

  background-color: #6B7A5E;
  box-shadow: 0px 0px 10px 1px black inset;
  border-radius: 16px;
  height: 75px;
  width: 100%;
}
.popuptext{
  font-size: 32px;
  color: white;
}
.methods {
  background-color: #bd9623;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 1px black inset;
  height: 75px;
  width: 100%;
  display: grid;
  align-self: center;
  justify-items: center;
  align-content: center;
  transition: ease-in-out 0.25s;
}
.methods:hover {
  transition: ease-in-out 0.25s;
  background-color: #7ca8d7;
  box-shadow: none;
}
#ideal {
  grid-column: 1/2;
  grid-row: 2/2;
}
#paypal {
  grid-column: 1/2;
  grid-row: 3/3;
}
#card {
  grid-column: 1/2;
  grid-row: 4/4;
}
#pay {
  background-color: #bd9623;
  grid-column: 3/4;
  grid-row: 2/5;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 1px black inset;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 0.5em;
}
#paybutton {
  grid-row: 2/3;
  height: 75px;
  width: 75%;
  background-color: #ffcc37;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 1px black inset;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-content: center;
  transition: ease-in-out 0.25s;
}
#paybutton:hover {
  background-color: #7ca8d7;
  box-shadow: none;
  transition: ease-in-out 0.25s;
}
.payimgs {
  width: 90%;
  height: 65px;
}
#idealimg {
  width: 65px;
}
/*popups end*/

@media only screen and (max-width: 1350px) {
  #maincontent {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #donation-wrapper {
    grid-column: 1/1;
    grid-row: 3/3;
  }
}
@media only screen and (max-width: 700px) {
  #mainImg {
    width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 550px) {
  #mainImg {
    width: 450px;
    height: 450px;
  }
}
