@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    background-color: #D5AE3D;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.text {
  color: white;
  font-size: 30px;
}
/*nav*/
/* #nav{
    background-color: #6B7A5E;
    height: 100px;
    grid-column: 1/3;
    grid-row: 1/1;

    display: grid;
    padding: 10px;
    gap: 4em;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: 1fr;
}
#logo{
    height: 80px;
    width: 80px;
    grid-column: 1/1;
    grid-row: 1/1;
}
.NavBTNS{
    text-decoration: none;
    color: white;
    font-size: 40px;
    align-self: center;
    transition: ease-in-out 0.25s;
}
.NavBTNS:hover{
    color: black;
    transition: ease-in-out 0.25s;
}
#user{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    justify-self: end;
    margin-right: 30px;
} */
/*nav end*/
#maincontent {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 1em;
  grid-row: 2/3;
  grid-column: 1/2;
}
/*1*/
#imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 1em;
  padding-bottom: 0px;

    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

#imgs::-webkit-scrollbar {
    display: none;              /* Chrome, Safari */
}


#imgs::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.photobox {
  background-color: #c4d2bb;
  border-radius: 16px;
  width: 250px;
  height: 200px;

  box-shadow: 5px 5px 10px 1px rgb(43, 43, 43);
}
.itemimgs {
  width: 250px;
  height: 150px;
  border-radius: 16px;
}
.itemname {
  margin-left: 10px;
  margin-top: 5px;
  color: black;
}
a {
  text-decoration: none;
}
/*1end*/
#filter {
  background-color: #ffd046;
  grid-column: 2/2;
  grid-row: 1/1;
  border-radius: 16px;
  width: 200px;
  height: 81%;
}
